:root {
    --primary: rgb(63, 32, 88);
    --secondary: rgb(179, 46, 184);
    --tertiary: rgba(141, 81, 143, 0.603);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    margin: 0 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header button {
    padding: 0;
    outline: none;
    border: none;
    font-size: 1em;
    background-color: white;
    color: var(--secondary);
}

div {
    width: 50%;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div h1 {
    font-size: 2.5em;
}

div p {
    font-size: 1.5em;
}

div p.game-over {
    text-align: left;
    font-size: 2em;
}

form.initials {
    display: flex;
    width: 100%;
    margin: 0px;
    align-items: center;
}

form #prompt {
    width: 25%;
}

form input {
    width: 30%;
    height: fit-content;
    font-size: 1.5em;
    margin-right: 50px;
}

form #submit {
    margin: 0;
    width: 15%;
}

div button {
    font-size: 1.3em;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    color: white;
    background-color: var(--primary);
}

div button:hover {
    background-color: var(--secondary);
}

div button.choiceButton {
    display: block;
    width: 25%;
    margin: 10px;
    text-align: left;
}

div button.high-scores {
    margin: 5px;
}

div h2 {
    opacity: 0.5;
    font-weight: normal;
    font-style: italic;
    font-size: 2em;
    text-align: left;
    margin-top: 40px;
    padding-top: 30px;
    border-top: 2px solid black;
}

div ol {
    margin-top: 20px;
    font-size: 2em;
    text-align: left;
    background-color: var(--tertiary);
}

@media screen and (max-width: 980px) {
    div h1 {
        font-size: 2em;
    }

    div p {
        font-size: 1.25em;
    }

    div button {
        font-size: 1.25em;
        padding: 7px 12px;
    }

    div p.game-over {
        font-size: 1.25em;
    }

    div button.choiceButton {
        width: 35%;
    }

    form input {
        width: 40%;
        margin-right: 25px;
        font-size: 1.25em;
    }

    form #submit {
        width: 20%;
    }
}

@media screen and (max-width: 575px) {
    div {
        width: 75%;
    }

    div button {
        width: 50%;
    }

    div button.choiceButton {
        width: 50%;
    }

    form.initials {
        flex-wrap: wrap;
    }

    form #prompt {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    form #submit {
        width: 35%;
        margin-top: 20px;
    }

    div ol {
        font-size: 1.5em;
    }
}